{% load static %}{% include 'header.html' %}
  <section class="about-section section-padding about-2">
      <div class="container">
          <div class="row align-items-center">
               <div class="col-lg-6 col-md-12">
                 <div class="about-img2">
                     <img src="{{about.title_image.url}}" alt="" class="img-fluid">
                 </div>
              </div>
              <div class="col-lg-6 col-md-12">
                  <div class="section-heading">
                      <span class="subheading">{{about.mini_title_text}}</span>
                      <h3>{{about.title_text}}</h3>
                  </div>
  
                  <p>{{about.sub_text|safe}}</p>
  
                  
              </div>
          </div>
      </div>
  </section>
  <section class="about-section section-padding about-2">
      <div class="container">
          <div class="row align-items-center">
               
              <div class="col-lg-6 col-md-12">
                  <div class="section-heading">
                      <span class="subheading">Our Mission</span>
                  </div>

                  <p>{{about.mission|safe}}</p>
              </div>
              <div class="col-lg-6 col-md-12">
                  <div class="section-heading">
                      <span class="subheading">Our Vision</span>
                  </div>
  
                  <p>{{about.vision|safe}}</p>
              </div>
          </div>
      </div>
  </section>
  
  <section class="category-section3">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading text-center center-heading">
                    <span class="subheading">Excellent Funfacts</span>
                    <h3>Reasons to chose Eagerbridge</h3>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="course-categories">
                <div class="category-item category-bg-1">
                  <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-laptop"></i>
                    </div>
                    <h4>Web Development</h4>
                    <p>(4 Courses)</p>
                  </a>
                </div>
                <div class="category-item category-bg-2">
                    <a href="#">
                        <div class="category-icon">
                            <i class="bi bi-layer"></i>
                        </div>
                        <h4>Design</h4>
                        <p>(12 Courses)</p>
                    </a>
                </div>
                <div class="category-item category-bg-3">
                   <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-target-arrow"></i>
                    </div>
                    <h4>Marketing</h4>
                    <p>(6 Courses)</p>
                   </a>
                </div>

                <div class="category-item category-bg-4">
                   <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-rocket2"></i>
                    </div>
                    <h4>Art & Design</h4>
                    <p>(6 Courses)</p>
                   </a>
                </div>
                <div class="category-item category-bg-5">
                   <a href="#">
                    <div class="category-icon">
                        <i class="bi bi-shield"></i>
                    </div>
                    <h4>Design</h4>
                    <p>(12 Courses)</p>
                   </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section section-padding">
    <div class="container">
        <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="{{home.message_image.url}}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span class="subheading">Message</span>
                    <h3>{{home.message_title}}</h3>
                </div>

                <div class="about-content">
                    <p>{{home.message|safe}}</p>

                </div>
            </div>
        </div>
    </div>
</section>  
  
  <section class="testimonial section-padding">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-6">
                  <div class="section-heading center-heading text-center">
                      <span class="subheading">Testimonials</span>
                      <h3>Learn New Skills to Go Ahead for Your Career</h3>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="testimonials-slides owl-carousel owl-theme">
                    {% for testimonial in testimonial %}
                      <div class="review-item">
                          <div class="client-info">
                              <i class="bi bi-quote"></i>
                              <p>{{testimonial.testimonial}}</p>
                          </div>
                          <div class="client-desc">
                              <div class="client-img">
                                {% if testimonial.image %}
                                <img src="{{testimonial.image.url}}" alt="" class="img-fluid">
                                  {% else %}
                                  <img src="{{data.logo.url}}" alt="" class="img-fluid">

                                {% endif %}
                              </div>
                              <div class="client-text">
                                  <h4>{{testimonial.position}}</h4>
                                  <span class="designation">{{testimonial.position}}</span>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                    </div>
              </div>
          </div>
      </div>
  </section>
{% include 'footer.html' %}