{% load static %}

<style>
    /* CSS for mobile devices only */
    @media (max-width: 767px) {
    .navbar-brand {
        display: inline-block;
        margin-right: 10px; 
        width:300px;
    }
    .navbar-brand img{
        width:300px;
        height:50px;
    }

    .navbar-toggler {
        display: inline-block;
    }
    }

</style>
    <!--  Footer Start -->
    <section class="footer pt-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mr-auto col-sm-6 col-md-6">
                    <div class="widget footer-widget mb-5 mb-lg-0">
                        <h5 class="widget-title">About Us</h5>
                        <p class="mt-3">With the concept of "Integration through quality education" EBSS was established i the year of 2042 B.S. EBBS has gained a reputation as an academic center of excellence of this region which enables every individual to pursue their education career which complete confidence.</p>
                        <ul class="list-inline footer-socials">
                            {% if data.facebook_url %}
                            <li class="list-inline-item"><a href="{{ data.facebook_url }}"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                          
                            {% if data.instagram_url %}
                            <li class="list-inline-item"><a href="{{ data.instagram_url }}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                          
                            {% if data.linkedin_url %}
                            <li class="list-inline-item"><a href="{{ data.linkedin_url }}"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                          
                            {% if data.youtube_url %}
                            <li class="list-inline-item"><a href="{{ data.youtube_url }}"><i class="fab fa-youtube"></i></a></li>
                            {% endif %}
                        </ul>
                          
                    </div>
                </div>
                
                <div class="col-lg-2 col-sm-6 col-md-6">
                    <div class="footer-widget mb-5 mb-lg-0">
                        <h5 class="widget-title">Quicklinks</h5>
                        <ul class="list-unstyled footer-links">
                            <li><a href="{% url 'about_us' %}">About us</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                            <li><a href="{% url 'blogs' %}">Blogs</a></li>
                            <li><a href="{% url 'about_us' %}">Mission</a></li>
                            <li><a href="{% url 'about_us' %}">Vision</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-sm-6 col-md-6">
                    <div class="footer-widget mb-5 mb-lg-0">
                        <h5 class="widget-title">Quicklinks</h5>
                        <ul class="list-unstyled footer-links">
                            <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                            <li><a href="{% url 'blogs' %}">Blogs</a></li>
                            <li><a href="{% url 'about_us' %}">Mission</a></li>
                            <li><a href="{% url 'about_us' %}">Vision</a></li>
                            <li><a href="{% url 'results' %}">Result</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="footer-widget footer-contact mb-5 mb-lg-0">
                        <h5 class="widget-title">Contact </h5>
                        
                        <ul class="list-unstyled">
                            <li><i class="bi bi-headphone"></i>
                                <div>
                                    <strong>Phone number</strong>
                                    {{data.contact}}
                                </div>
                                
                            </li>
                            <li> <i class="bi bi-envelop"></i>
                                <div>
                                    <strong>Email Address</strong>
                                    {{data.email}}
                                </div>
                            </li>
                            <li><i class="bi bi-location-pointer"></i>
                                <div>
                                    <strong>School Address</strong>
                                    {{data.location}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="footer-btm">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6">
                        <div class="footer-logo">
                            <img src="{{data.logo.url}}" alt="Edutim" height="85" width="400">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="copyright text-lg-center">
                            <p>@ Copyright reserved to {{data.school_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <div class="fixed-btm-top">
        <a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    
    
    
        <!-- 
        Essential Scripts
        =====================================-->
        
        <!-- Main jQuery -->
        <script src="{% static 'assets/vendors/jquery/jquery.js' %}"></script>
        <!-- Bootstrap 4.5 -->
        <script src="{% static 'assets/vendors/bootstrap/bootstrap.js' %}"></script>
        <!-- Counterup -->
        <script src="{% static 'assets/vendors/counterup/waypoint.js' %}"></script>
        <script src="{% static 'assets/vendors/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'assets/vendors/jquery.isotope.js' %}"></script>
        <script src="{% static 'assets/vendors/imagesloaded.js' %}"></script>
        <!--  Owlk Carousel-->
        <script src="{% static 'assets/vendors/owl/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/script.js' %}"></script>
    
    
      </body>
      </html>
       