{% load static %}
{% include 'header.html' %}   





<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for slide in slides %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100 h-100 object-fit-cover" src="{{ slide.image.url }}" alt="Slide">
            <div class="carousel-caption d-none d-md-block text-left caption-bg">
              <h1>{{ slide.heading_text }}</h1>
              <p>{{ slide.sub_heading_text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <style>
      .caption-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 10px;
        width: 100%;
      }
      .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .carousel-item {
        height: 700px;
      }
      @media (max-width: 768px) {
        .carousel-item {
          height: 200px;
          object-fit: cover;
        }
      }
      
    </style>
  </section>
  
   
    <section class="banner-style-8">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-xl-6">
                    <div class="banner-content">
                        <span class="subheading">{{home.mini_title_text}}</span>
                        <h1>{{home.intro_title}}</h1>
                        <p>{{home.intro_text}}</p>
                        <a href="{{home.button_url}}" class="btn btn-main">{{home.button_text}}</a>  
                    </div>
                </div>
    
                <div class="col-xl-6">
                    <div class="banner-img">
                        <img src="{{home.intro_image.url}}" alt="" class="img-fluid">
                    </div>
                </div>
            </div> 
    </section> 
    
    <section class="category-section3 mt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading text-center center-heading">
                        <span class="subheading">Excellent Funfacts</span>
                        <h3>Reasons to chose Eagerbridge</h3>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="course-categories">
                    <div class="category-item category-bg-1">
                        <a href="#">
                        <div class="category-icon">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h4>Web Development</h4>
                        <p>(4 Courses)</p>
                        </a>
                    </div>
                    <div class="category-item category-bg-2">
                        <a href="#">
                            <div class="category-icon">
                                <i class="bi bi-layer"></i>
                            </div>
                            <h4>Design</h4>
                            <p>(12 Courses)</p>
                        </a>
                    </div>
                    <div class="category-item category-bg-3">
                        <a href="#">
                        <div class="category-icon">
                            <i class="bi bi-target-arrow"></i>
                        </div>
                        <h4>Marketing</h4>
                        <p>(6 Courses)</p>
                        </a>
                    </div>
    
                    <div class="category-item category-bg-4">
                        <a href="#">
                        <div class="category-icon">
                            <i class="bi bi-rocket2"></i>
                        </div>
                        <h4>Art & Design</h4>
                        <p>(6 Courses)</p>
                        </a>
                    </div>
                    <div class="category-item category-bg-5">
                        <a href="#">
                        <div class="category-icon">
                            <i class="bi bi-shield"></i>
                        </div>
                        <h4>Design</h4>
                        <p>(12 Courses)</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        

    <section class="about-section section-padding">
        <div class="container">
            <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                    <div class="about-img">
                        <img src="{{home.message_image.url}}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-heading">
                        <span class="subheading">Message</span>
                        <h3>{{home.message_title}}</h3>
                    </div>
    
                    <div class="about-content">
                        <p>{{home.message}}</p>

                    </div>
                </div>
            </div>
        </div>
    </section>  
    <!--course section start-->
    <section class="section-padding video-section" >
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading text-center center-heading">
                        <span class="subheading">Excellent Funfacts</span>
                        <h3>Know more about us</h3>
                    </div>
                </div>
            </div>
    
            <div class="row counter-wrap counter-section ptb-40">
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <i class="ti-desktop"></i>
                        <div class="count">
                            <span class="counter h2">{{data.no_of_students}}</span>
                        </div>
                        <p>Happy Students</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <i class="ti-agenda"></i>
                        <div class="count">
                            <span class="counter h2">{{data.success_rate}}</span>
                        </div>
                        <p>success Rate</p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">         
                    <div class="counter-item">
                        <i class="ti-heart"></i>
                        <div class="count">
                            <span class="counter h2">{{data.no_of_teachers}}</span>
                        </div>
                        <p>Happy Teachers</p>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <i class="ti-microphone-alt"></i>
                        <div class="count">
                            <span class="counter h2">{{data.since}}</span>
                        </div>
                        <p>Since</p>
                    </div>
                </div>
            </div>
        </div>
        <!--course-->
    </section>
    <!--course section end--> 


    
    <!--  Testimonial Start -->
    <section class="testimonial section-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <span class="subheading">Testimonials</span>
                        <h3>Learn New Skills to Go Ahead for Your Career</h3>
                    </div>
                </div>
           
                <div class="col-lg-8">
                    <div class="testimonials-slides-2 owl-carousel owl-theme">
                        {% for testimonial in testimonial %}
                        <div class="review-item">
                            <div class="client-info">
                                <i class="bi bi-quote"></i>
                                <p>{{testimonial.testimonial}}</p>
                            </div>
                            <div class="client-desc">
                                <div class="client-img">
                                    {% if testimonial.image %}
                                    <img src="{{testimonial.image.url}}" alt="" class="img-fluid">
                                    {% else %}
                                    <img src="{{data.logo.url}}" alt="" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="client-text">
                                    <h4>{{testimonial.name}}</h4>
                                    <span class="designation">{{testimonial.position}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                      </div>
                </div>
            </div>
        </div>
    </section>
    

    
    <!--  Blog start -->
    
    <section class="blog section-padding pt-40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading center-heading">
                        <span class="subheading">Blog News</span>
                        <h3>Latest Blog News</h3>
                    </div>
                </div>
            </div>
    
            <div class="row">          
                {% for blogs in blogs %}
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <img src="{{blogs.image.url}}" alt="" class="img-fluid">
                        <div class="blog-content">
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-alt"></i>{{blogs.created}}</span>
                            </div>
        
                            <h2 class="font-size-26"><a href="{% url 'blog_details' slug=blogs.slug %}">{{blogs.title}}</a></h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <!--  Cta Start -->
    {% include 'footer.html' %}