{% load static %}
{% include 'header.html' %}    
    <!-- Banner Start -->
    <section class="banner-style-8">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-xl-6">
                    <div class="banner-content">
                        <span class="subheading">Learn from professionals</span>
                        <h1>Build skills with courses flexible online courses</h1>
                        <p>We invest in personnel, technological innovations and infrastructure and have established regional and international offices.</p>
                        <a href="#" class="btn btn-main">Join For Free</a>  
                    </div>
                </div>
    
                <div class="col-xl-6">
                    <div class="banner-img">
                        <img src="assets/images/banner/banner-8.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    
    <!-- Feature start -->
    <section class="feature-2  mt--100">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item feature-style-2">
                        <div class="feature-icon">
                            <i class="bi bi-badge2"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Expert Teacher</h4>
                            <p>Behind the word mountains, far from the countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item feature-style-2">
                        <div class="feature-icon">
                            <i class="bi bi-article"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Quality Education</h4>
                            <p>Behind the word mountains, far from the countries </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item feature-style-2">
                        <div class="feature-icon">
                            <i class="bi bi-headset"></i>
                        </div>
                        <div class="feature-text">
                            <h4>Life Time Support</h4>
                            <p>Behind the word mountains, far from the countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-item feature-style-2">
                        <div class="feature-icon">
                            <i class="bi bi-rocket2"></i>
                        </div>
                        <div class="feature-text">
                            <h4>HD Video</h4>
                            <p>Behind the word mountains, far from the countries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section section-padding">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-lg-6 col-md-12">
                   <div class="about-img">
                       <img src="{% static 'assets/images/bg/hero-5-img.png' %}" alt="" class="img-fluid">
                   </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="section-heading">
                        <span class="subheading">Message</span>
                        <h3>Message From Chairman</h3>
                    </div>
    
                    <div class="about-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicin gelit Lorem ipsum dolor sit amet, consectetur adipisicin gelit Lorem ipsum dolor sit amet, consectetur adipisicin gelit Lorem ipsum dolor sit amet, consectetur adipisicin gelit Lorem ipsum dolor sit amet, consectetur adipisicin gelitLorem ipsum dolor sit amet, consectetur adipisicin gelit</p>

                    </div>
                </div>
            </div>
        </div>
    </section> 
        <!--  Course categories -->
    
        <section class="category-section3">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-heading text-center center-heading">
                            <span class="subheading">Excellent Funfacts</span>
                            <h3>Reasons to chose Eagerbridge</h3>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="course-categories">
                        <div class="category-item category-bg-1">
                          <a href="#">
                            <div class="category-icon">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <h4>Web Development</h4>
                            <p>(4 Courses)</p>
                          </a>
                        </div>
                        <div class="category-item category-bg-2">
                            <a href="#">
                                <div class="category-icon">
                                    <i class="bi bi-layer"></i>
                                </div>
                                <h4>Design</h4>
                                <p>(12 Courses)</p>
                            </a>
                        </div>
                        <div class="category-item category-bg-3">
                           <a href="#">
                            <div class="category-icon">
                                <i class="bi bi-target-arrow"></i>
                            </div>
                            <h4>Marketing</h4>
                            <p>(6 Courses)</p>
                           </a>
                        </div>
        
                        <div class="category-item category-bg-4">
                           <a href="#">
                            <div class="category-icon">
                                <i class="bi bi-rocket2"></i>
                            </div>
                            <h4>Art & Design</h4>
                            <p>(6 Courses)</p>
                           </a>
                        </div>
                        <div class="category-item category-bg-5">
                           <a href="#">
                            <div class="category-icon">
                                <i class="bi bi-shield"></i>
                            </div>
                            <h4>Design</h4>
                            <p>(12 Courses)</p>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!--course section start-->
    <section class="section-padding video-section" >
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading text-center center-heading">
                        <span class="subheading">Excellent Funfacts</span>
                        <h3>Know more about us</h3>
                    </div>
                </div>
            </div>
    
            <div class="row counter-wrap counter-section ptb-40">
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <i class="ti-desktop"></i>
                        <div class="count">
                            <span class="counter h2">90</span>
                        </div>
                        <p>Expert Instructors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <i class="ti-agenda"></i>
                        <div class="count">
                            <span class="counter h2">1450</span>
                        </div>
                        <p>Total Courses</p>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">         
                    <div class="counter-item">
                        <i class="ti-heart"></i>
                        <div class="count">
                            <span class="counter h2">5697</span>
                        </div>
                        <p>Happy Students</p>
                    </div>
                </div>
            
                <div class="col-lg-3 col-md-6">
                    <div class="counter-item">
                        <i class="ti-microphone-alt"></i>
                        <div class="count">
                            <span class="counter h2">24</span>
                        </div>
                        <p>Creative Events</p>
                    </div>
                </div>
            </div>
        </div>
        <!--course-->
    </section>
    <!--course section end--> 

    
    <!--  Course INstructors -->
    <section class="section-padding bg-grey team-2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading center-heading">
                        <span class="subheading">Best Expert Teachers</span>
                        <h3>Meet Our Professionals</h3>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'assets/images/team/team-4.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="team-info">
                            <h4>Harish Ham</h4>
                            <p>CEO, Developer</p>
                        </div>
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'assets/images/team/team-1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="team-info">
                            <h4>Tanvir Hasan</h4>
                            <p>Market Researcher</p>
                        </div>
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'assets/images/team/team-2.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="team-info">
                            <h4>Mikele John</h4>
                            <p>Content Writter</p>
                        </div>
                        <ul class="team-socials list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--  Testimonial Start -->
    <section class="testimonial section-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <span class="subheading">Testimonials</span>
                        <h3>Learn New Skills to Go Ahead for Your Career</h3>
                    </div>
                </div>
           
                <div class="col-lg-8">
                    <div class="testimonials-slides-2 owl-carousel owl-theme">
                        <div class="review-item">
                            <div class="client-info">
                                <i class="bi bi-quote"></i>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eius autem aliquid pariatur rerum. Deserunt, praesentium.
                                 Adipisci, voluptates nihil debitis</p>
                                 <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                            <div class="client-desc">
                                <div class="client-img">
                                    <img src="assets/images/clients/test-1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="client-text">
                                    <h4>John Doe</h4>
                                    <span class="designation">Developer</span>
                                </div>
                            </div>
                        </div>
    
                         <div class="review-item">
                            <div class="client-info">
                                <i class="bi bi-quote"></i>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eius autem aliquid pariatur rerum. Deserunt, praesentium.
                                 Adipisci, voluptates nihil debitis</p>
                                 <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                            <div class="client-desc">
                                <div class="client-img">
                                    <img src="assets/images/clients/test-2.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="client-text">
                                    <h4>John Doe</h4>
                                    <span class="designation">Developer</span>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="review-item">
                            <div class="client-info">
                                <i class="bi bi-quote"></i>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eius autem aliquid pariatur rerum. Deserunt, praesentium.
                                 Adipisci, voluptates nihil debitis</p>
                                 <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                            </div>
                            <div class="client-desc">
                                <div class="client-img">
                                    <img src="assets/images/clients/test-3.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="client-text">
                                    <h4>John Doe</h4>
                                    <span class="designation">Developer</span>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    

    
    <!--  Blog start -->
    
    <section class="blog section-padding pt-40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading center-heading">
                        <span class="subheading">Blog News</span>
                        <h3>Latest Blog News</h3>
                    </div>
                </div>
            </div>
    
            <div class="row">               
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <img src="{% static 'assets/images/blog/news-1.jpg' %}" alt="" class="img-fluid">
                        <div class="blog-content">
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-alt"></i>May 19, 2020</span>
                            </div>
        
                            <h2 class="font-size-26"><a href="#">Powerful tips to grow effective manner</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <img src="{% static 'assets/images/blog/news-1.jpg' %}" alt="" class="img-fluid">
                        <div class="blog-content">
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-alt"></i>May 19, 2020</span>
                            </div>
        
                            <h2 class="font-size-26"><a href="#">Powerful tips to grow effective manner</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item">
                        <img src="{% static 'assets/images/blog/news-1.jpg' %}" alt="" class="img-fluid">
                        <div class="blog-content">
                            <div class="entry-meta">
                                <span><i class="fa fa-calendar-alt"></i>May 19, 2020</span>
                            </div>
        
                            <h2 class="font-size-26"><a href="#">Powerful tips to grow effective manner</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--  Cta Start -->
    {% include 'footer.html' %}