{% include 'header.html' %}
<section class="contact-info section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading">
                    <span class="subheading">Result</span>
                    <h3>Results</h3>
                    <span class="subheading">
                        {% if message %}
                        {{message}}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
       
        <div class="row justify-content-center align-items-center">

            <form class="form " method="POST" action="{% url 'select_section' %}">
                {% csrf_token %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="text" name="exam_id"  value="{{exam_id}}" required hidden>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>Select Class</h4>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="row">
                                {% for cls in classes %}
                                <div class="col-3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="class_id" id="option{{ cls.class_id }}" value="{{ cls.class_id }}" required>
                                        <label class="form-check-label" for="option{{ cls.class_id }}">{{ cls.class_name }}</label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mt-4 text-right">
                            <button class="btn btn-main" type="submit">Next</button>
                        </div>
                    </div>
                </div>
           </form> 
        </div>
    </div>
</section>

{% include 'footer.html' %}