{% include 'header.html' %}
<section class="contact-info section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading">
                    <span class="subheading">Result</span>
                    <h3>Results</h3>
                    <span class="subheading">
                        {% if message %}
                        {{message}}
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
       
        <div class="row justify-content-center align-items-center">

            <form class="form " method="POST" action="{% url 'select_class' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <h4>Select Exam</h4>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            {% for exam in exams %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="exam_id" id="option1" value="{{exam.exam_id}}" required>
                                <label class="form-check-label" for="option1">{{exam.exam_name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mt-4 text-right">
                            <button class="btn btn-main" type="submit">Next</button>
                        </div>
                    </div>
                </div>
           </form> 
        </div>
    </div>
</section>

{% include 'footer.html' %}